body{
    margin:0;
    
    text-align: center;
    background-color: red;
}
img{
    margin-bottom:50px;
    border-radius: 20%;
}
#welcome{
    background: linear-gradient(yellow,orange,red);
}
h1{
    font-size: 40px;
    font-family:inherit;
    font-weight: 250;
}
p{
    font-size: 20px;
    font-family:sans-serif;
    font-weight: 100;
}
h3{
    font-size: 35px;
    font-family:inherit;
    font-weight: 200;
}
#bio{
    background: linear-gradient(red,orange,yellow);
}
.line{
    height:6px;
    background-color: black;
    width: 200x;
    margin: 8px auto;
}